body {
    background-color: #f6f6f6;
}
#painting {
    height: 400px ;
    width: 400px ;
    background-color: #fff4db;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 30px ;
    box-shadow: 5px 5px 5px black ;
}
#toprow {
    height: 290px ;
}
#bigbox {
    height: 290px ;
    width: 290px ;
}
.red {
    background-color: red ;
}
.blue {
    background-color: #0d4fbf
}
.yellow {
    background-color: yellow ;
}
.black {
    background-color: black
}
.right {
    float: right ;
}
#topdivider {
    width: 10px ;
    height: 290px ;
}
.mediumbox {
}
#divider2 {
    height: 10px ;
    width: 100px;
}
#topleftcolumn {
    width: 100px ;
    height: 140px ;
}
#bottomrow {
    height: 110px ;
}

#bottomdivider {
    height: 10px ;
    width: 400px ;
}

#smalltop {
    height: 100px ;
    width: 20px ;
}

#talldivider {
    height: 100px ;
    width: 10px ;
}

#bigbottom {
    height: 100px ;
    width: 260px ;
}

#cube {
    height: 100px ;
    width: 100px ;
}

#seconddivider {
    height: 100px ;
    width: 10px ;
}

#smalldivider {
    height: 10px ;
    width: 20px ;
}

#smallinside {
    height: 45px ;
    width: 20px ;
}

#smallinsidebottom {
    height: 45px ;
    width: 20px ;
    background-color: yellow
}